[hub]
  protocol = https
[user]
	name = Nicholas Rakoto
	email = nico@nrako.com
[core]
	excludesfile = ~/.gitignore_global
  editor = vim
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[github]
	user = nrako
[credential]
	helper = osxkeychain
[push]
	default = simple
